<table class="table table-hover table-striped">
  <thead>
    <tr>
      <th scope="col">Nom</th>
      <th scope="col">Mot de passe</th>
      <th scope="col">Catégorie</th>
      <th scope="col">Modifier</th>
      <th scope="col">Supprimer</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let entry of vault" class="align-middle">
      <td>{{entry.name}}</td>
      <td [ngClass]="{'hide-password': hideConfirmPassword}">{{ entry.password }}</td>
      <td>{{entry.category}}</td>
      <td>
        <button class="bi bi-pencil-square btn" (click)="popupMDP(entry)">
        </button>
      </td>
      <td>
        <button class="bi bi-trash-fill btn" (click)="supprimerMDP(entry)">
        </button>
      </td>
    </tr>
  </tbody>
</table>

<div *ngIf="showModal" [ngClass]="cardAnimationClass" (close)="closeModal()" class="modal show d-block" tabindex="-1"
  role="dialog">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Ajouter un nouveau mot de passe au coffre fort</h5>
        <button type="button" class="btn-close" aria-label="Close" (click)="closeModal()"></button>
      </div>
      <div class="modal-body">
        <form #passwordForm="ngForm">

          <div class="form-group">
            <label for="nom">Nom:</label><br>
            <input type="text" class="form-control" id="nom" placeholder="Nom du mot de passe"
              [(ngModel)]="utilisateur.nom" name="nom" required>
          </div>

          <div class="form-group">
            <label for="motDePasse">Mot de passe:</label>
            <input type="password" class="form-control" id="motDePasse" placeholder="Mot de passe"
              [(ngModel)]="utilisateur.motDePasse" name="motDePasse" required>
              <button type="button" class="btn btn-primary" (click)="generatePassword()">
                Aléatoire
                <i class="bi bi-arrow-clockwise"></i>
              </button>
          </div>

          <div class="form-group">
            <label for="categorie">Catégorie:</label>
            <select id="categorie" [(ngModel)]="utilisateur.categorie" name="categorie" required>
              <option *ngFor="let cat of categories" [value]="cat">{{cat}}</option>
            </select>
          </div>

        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="closeModal();">Fermer</button>
        <button *ngIf="etapeModif" type="button" class="btn btn-primary" (click)="onSubmitModif(passwordForm)"
          [disabled]="passwordForm.invalid">
          Valider
        </button>
        <button *ngIf="etapeCrea" type="button" class="btn btn-primary" (click)="onSubmitCrea(passwordForm)"
          [disabled]="passwordForm.invalid">Ajouter
        </button>
      </div>
    </div>
  </div>
</div>

<button type="button" class="btn btn-primary" (click)="popupCreaMDP()">
  Ajouter un mot de passe
  <i class="bi bi-plus-circle"></i>
</button>
<button type="button" class="btn btn-primary" (click)="exportToJSON()">
  Télécharger le coffre fort
  <i class="bi bi-arrow-down-circle"></i>
</button>
<button class="btn btn-primary" (click)="toggleConfirmPasswordVisibility()">
  Afficher les mots de passe
  <i class="bi" [class]="hideConfirmPassword ? 'bi-eye-slash' : 'bi-eye'"></i>
</button>